article #vizControls {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #A0A0A0;
}

article #vizControls label {
  font-weight: bold;
}

article #vizControls select {
  min-width: 300px;
  font-size: 18px;
}

article #vizTable {
  width: 100%;
  border-spacing: 10px;
}

article #vizTable th {
  text-align: left;
  border-bottom: 1px dotted #A0A0A0;
}

article #vizTable tr {
  border-bottom: 1px dotted #C0C0C0;
}

article #vizTable .cell-gap {
  min-width: 200px;
}

article #vizTable .cell-gap-svg .center-line {
  width: 1px;
  y: 0px;
  height: 23px;
  fill: #C0C0C0;
}

article #vizTable .cell-gap .gap-label {
  font-size: 10px;
  fill: #707070;
  vertical-align: top;
  text-anchor: middle;
  opacity: 0;
}

article #vizTable .cell-gap-svg .gap-line {
  y: 10px;
  height: 1px;
  fill: #D0D0D0;
}

article #vizTable .cell-gap-svg {
  width: 100%;
  height: 30px;
}

article #vizTable .cell-gini {
  width: 80px;
}

article #vizTable .cell-gini .bar-body {
  height: 10px;
  background-color: #C0C0C0;
}

article #vizTable .cell-occupation {
  min-width: 50px;
  max-width: 150px;
  word-wrap: break-word;
}

article #vizTable .cell-pay {
  width: 80px;
}

article #vizTable .cell-pay .bar-body {
  height: 10px;
  background-color: #C0C0C0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "HelveticaNeue", "Helvetica Neue",  Helvetica, Arial;
  color: #111;
  font-size: 18px;
}

header h1 {
  background-color: #333;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

header .intro {
  border-bottom: 1px solid #C0C0C0;
  padding-bottom: 15px;
  padding-top: 15px;
  background-color: #E0E0E0;
}

header .intro .lead {
  font-weight: bold;
}

html {
  padding: 0;
  margin: 0;
}

@media (max-width: 800px) {
  article #vizTable {
    padding: 10px;
  }

  header h1 {
    padding: 10px;
  }

  header .intro {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 800px) {
  article #vizTable {
    padding: 10px 20px;
  }

  header h1 {
    padding: 10px 20px;
  }

  header .intro {
    padding-left: 20px;
    padding-right: 20px;
  }
}
